.text-center {
  text-align: center;
}
.text-big-aqua {
  font-size: 48px;
  color: aqua;
  font-weight: bold;
}
.text-medium-tomato {
  font-size: 24px;
  color: tomato;
  font-weight: bold;
}

.text-color-violet {
  color: blueviolet;
}
