.textCenter {
  text-align: center;
}
.textBigAqua {
  font-size: 48px;
  color: aqua;
  font-weight: bold;
}
.textMediumTomato {
  font-size: 24px;
  color: tomat0;
  font-weight: bold;
}

.textColorViolet {
  color: blueviolet;
}
